<div class="bd-content ps-lg-4">      
  <h2 id="forms">Edit Post</h2>
  <div class="bd-example">
		<%= render 'form', post: @post %>
	</div>
</div></br>
<%= link_to 'Show', users_post_path(@post) %> |
<%= link_to 'Back', users_posts_path %>